* {
   padding: 0;
   margin: 0;
}


.loginContainer{
   display:flex; 
   justify-content: center;
   /* align-items: center; */
   margin: auto;
}
#signIn{
   display:block;  
   background: #fff;
   z-index: 400;
   width: 450px;
   padding: 1.5rem;
   margin: 50px auto;
   border-radius: 10px;
   box-shadow: 0 20px 35px rgba(0, 0, 1, 0.9);
}

.container {
   background: #fff;
   position: absolute;
   left: 35%;
   z-index: 400;
   width: 450px;
   padding: 1.5rem;
   margin: 50px auto;
   border-radius: 10px;
   box-shadow: 0 20px 35px rgba(0, 0, 1, 0.9);
}

.signuplog-form {
   margin: 0 2rem;
   padding-bottom: 20px;
}

.form-title {
   font-size: 1.5rem;
   font-weight: bold;
   text-align: center;
   padding: 1.3rem;
   margin-bottom: 0.4rem;
}

.input-class {
   color: inherit;
   width: 100%;
   background-color: transparent;
   border: none;
   border-bottom: 1px solid #757575;
   padding-left: 1.5rem;
   font-size: 15px;
}

.input-group {
   padding: 1% 0;
   position: relative;

}

.input-group i {
   position: absolute;
   color: black;
}

input:focus {
   background-color: transparent;
   outline: transparent;
   border-bottom: 2px solid hsl(327, 90%, 28%);
}

input::placeholder {
   color: transparent;
}

.label-1 {
   color: #757575;
   position: relative;
   left: 1.2em;
   top: -1.5em;
   cursor: auto;
   transition: 0.3s ease all;
}

/* input:focus~label,
input:not(:placeholder-shown)~label {
   top: -3em;
   color: hsl(327, 90%, 28%);
   font-size: 15px;
} */

.recover {
   text-align: right;
   font-size: 1rem;
   margin-bottom: 1rem;

}

.recover a {
   text-decoration: none;
   color: rgb(125, 125, 235);
}

.recover a:hover {
   color: blue;
   text-decoration: underline;
}



.btn:hover {
   background: #07001f;
}

.or {
   font-size: 1.1rem;
   margin-top: 0.5rem;
   text-align: center;
}

.icons {
   text-align: center;
}

.icons i {
   color: rgb(125, 125, 235);
   padding: 0.8rem 1.5rem;
   border-radius: 10px;
   font-size: 1.5rem;
   cursor: pointer;
   border: 2px solid #dfe9f5;
   margin: 0 15px;
   transition: 1s;
}






.nav-section {
   position: sticky;
   top: 0;
   z-index: 10;
}

.nav-container {
   display: flex;
   justify-content: space-between;
   background-color: black;
   padding-left: 3%;
   padding-right: 30px;
}

.logo {
   font: bold;
   padding: 20px;
   color: rgb(255, 255, 255);
}

.logo:hover {
   cursor: pointer;
}

.nav-item {
   display: flex;
}

.nav-items {
   margin: 20px 0 0px 0px;
   display: flex;
   list-style: none;
   color: white;
}

.nav-items li {
   margin: 0px 20px 20px 0px;

}

.nav-items li:hover {
   color: rgb(186, 180, 180);
   cursor: pointer;
}
.nav-item-svg{
   margin: 15px 0 0px 0px;
   display: none;
}
.btn33{
   font-size: 1.1rem;
   padding: 8px 0;
   border-radius: 5px;
   outline: none;
   border: none;
   width: 100%;
   background: rgb(125, 125, 235);
   color: white;
   cursor: pointer;
   transition: 0.9s;

}
.ask-doubt-menu-section{
   padding: 20px 60px 20px 60px; 
   border-radius: 5px;
}
.ask-doubt-top-sec{
   display: flex; 
   justify-content:space-around; 
   height: 50vh;
}
.ask-doubt-top-sec h1{
   padding-top: 70px; 
   padding-bottom: 30px;
}
.ask-doubt-top-img{
   width: 400px;
   height: 300px;
}
.signup-role-container{
   display: flex; 
   justify-content: space-between;
}


@media (max-width: 768px) {
   .nav-items{
      display: none;
   }
   .nav-item-svg{
      display: block;
   }
   .ask-doubt-menu-section{
      padding: 10px 30px 10px 30px; 
      border-radius: 5px;
   }
   .ask-doubt-top-sec{
      flex-direction: column;
      height: 60vh;
   }
   .ask-doubt-top-sec h1{
      padding-top: 10px;
   }
   .ask-doubt-top-img{
      width: 300px;
      height: 200px;
   }
   #signIn{
      display:block;  
      background: #fff;
      z-index: 400;
      width: 250px;
      padding: 1.5rem;
      margin: 30px auto;
      border-radius: 10px;
      box-shadow: 0 20px 35px rgba(0, 0, 1, 0.9);
   }
   /* .input-class {
      width: 60%;
   }
   .btn33 {
      width: 61%;
   } */
   .container {
      background: #fff;
      position: absolute;
      left: 9%;
      z-index: 400;
      width: 250px;
   }
   .signup-role-container{
      display: flex; 
      flex-direction: column;
   }
}

